{% extends "admin/change_form.html" %}
{% load admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "pagesadmin/css/page_form.css" %}" />{% endblock %}

{% block field_sets %}
{% for fieldset in adminform %}
	{% include "admin/includes/fieldset.html" %}
{% endfor %}
{% if translations|length > 1 %}
	<div id="translations">
	{% for translation in translations %}
		<a href="#trans_{{ translation.language.code }}" data-trans-id="{{ translation.language.code }}">{{ translation.language.name }}</a>
	{% endfor %}
	</div>
	<div id="translation_forms">
	{% for translation in translations %}
		<fieldset class="tab aligned" id="trans_{{ translation.language.code }}" {% if not forloop.first %}style="display: none;"{% endif %}>
			{% include "admin/includes/translation_form.html" with translation=translation %}
		</fieldset>
	{% endfor %}
	</div>
{% else %}
	<fieldset class="module aligned">
		{% include "admin/includes/translation_form.html" with translation=translations|first %}
	</fieldset>
{% endif %}
{% endblock %}
